{% block body %}
<span> Bienvenue sur la page détail de l'utilisateur {{ contact.nom }} {{ contact.prenom }} <br> Vous pouvez le contacter par mail : {{ contact.email }} <br> ou par téléphone : {{ contact.telephone }} </span>
{% endblock %}
